
:root {
--first-color: #286F6C;
--second-color: #F36744;
--third-color: #F8F7F1;
--fourth-color: #0D2F3F;
--fifth-color: #EDB33C;
}
.navbar-brand, .nav-item {
    color:var(--first-color);
}
.navbar-brand:hover,
.nav-item:hover {
    color: var(--second-color);
}
.nav-item.active {
    color: var(--second-color);
}
.logo{
    font-family: 'Fasthand', cursive;
    font-size: 30px;

}
body {
   background-color: var(--third-color);
   color: var(--fourth-color);
   font-family: 'Lemonada', cursive;
}
.homebtn {
    color: var(--fifth-color);
    background-color: var(--fourth-color);
    border-radius: 20px;
    border-color: var(--fourth-color);
    padding: 10px;

}
.homebtn:hover {
    color: var(--second-color);
}

.homeimg {
    max-width: 300px;
    display: block;
    margin: auto;
}

.homeh6{
    margin: 100px 0;
    font-size: 28px;
    color: var(--first-color);
}
.homeh1{
    font-size: 50px;
}
.homeh2 {
    color: var(--first-color);
}
.homeh2, .abouth3, .abouth2, .myworkh3{
    margin: 50px 0;
}
.myworkh5{
    font-weight: bold;
}
.contactp{
    font-size: 28px;
}
.contactlink {
    display: block;
    text-align: center;
    text-decoration: none;
    color: var(--first-color);
    margin-bottom: 35px;
}
.contactlink:hover{
    color: var(--second-color);
}
footer a{
    font-size: 30px;
    text-decoration: none;
    color: var(--second-color);
    margin: 20px;

}
footer a:hover{
    color: var(--first-color);
}
@media (max-width: 500px) {
    .homeh1{
        font-size: 24px;
    }
    .homeh2{
        font-size: 22px;
    }
    .homep{
        padding: 0 60px;
    }
    .footermail{
        font-size: 20px;
    }
}
.sign {
    font-size: 14px;
    text-decoration: none;
}
.sign a {
    color: var(--first-color);
}
