
:root {
--first-color: #286F6C;
--second-color: #F36744;
--third-color: #F8F7F1;
--fourth-color: #0D2F3F;
--fifth-color: #EDB33C;
}
body {
   background-color: var(--third-color);
   color: var(--fourth-color);
   font-family: 'Lemonada', cursive;
}
.bodyHomepage {
    background-color: var(--third-color);
}
.hometit{
    margin-top: 50px;
}
h1 {
    font-size: 50px;
    font-weight: bold;
    margin-top: 50px;
}
.btnCont {
    color: var(--fifth-color);
    background-color: var(--first-color);
    border-radius: 25px;
    padding: 15px;
    position: relative;
    margin-top: -570px;
    margin-left: 250px;
}
.card1{
    background-color: white;
    border-radius: 20px;
    border: 2px;
    border-color: #286F6C;    
}
.card2{
    
}
.imgproject{
    display: block;
    margin: auto;
}
.btnCard{
    background-color: var(--first-color);
    color: var(--third-color);
    border-radius: 25px;
    padding: 15px 40px;
}